* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  min-height: 100vh;
}

main {
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  width: 100%;
  background-color: #66d8f5;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .item {
  padding: 22px;
  font-size: 20px;
  cursor: pointer;
  transition: .2s linear;
  color: #fff;
}


.menu {
  flex: 0.5;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.menu .item:hover {
  color: #333;
  background-color: #eee;
}

#search {
  margin-left: 8px;
  width: 100%;
  min-height: 48px;
  padding: 5px;
  border-radius: 5px;
}

.form {
  flex: 0.5;
}

.post {

  flex: 1;
  padding: 20px;
  overflow: hidden;
}

.item {
  margin: 25px 15px;
  display: block;
}

.post-data {
  display: block;
  margin: 15px 0;
}

.post-body {
  font-size: 20px;
}

.post-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.postdata {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}

.postbody {
  font-size: 25px;
  margin-bottom: 20px;
}

.error-post {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 20px;
  color: red;
}


.error-link {
  display: block;
  width: 250px;
  margin: 20px auto 0;
  font-size: 20px;
  font-weight: 700;
}


.footer {
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.delete {
  height: 48px;
  min-width: 48px;
  border-radius: 5px;
  padding: 8px;
  background: red;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}