* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  min-height: 100vh;
}

main {
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  width: 100%;
  background-color: #66d8f5;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  flex: 1;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu .item {
  padding: 22px;
  font-size: 20px;
  cursor: pointer;
  transition: .2s linear;
  color: #fff;
}


.menu {
  flex: 0.5;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.menu .item:hover{
  color: #333;
  background-color: #eee;
}


#search {
  margin-left: 8px;
  width: 100%;
  min-height: 48px;
  padding: 5px;
  border-radius: 5px;
}

.form {
  flex: 0.5;
}